*{
  margin: 0;
}
.App{
  background-color: #fafafa;
  /* background-color: black; */

}

.app_header{
  top: 0;
  position: sticky;
  z-index: 1;
  background-color: white;
  object-fit: contain;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: center;
}

.header_image{
  width: 125px;
  object-fit: contain;
}

.app_signup{
  display: flex;
  flex-direction: column;
}
.app_signin{
  display: flex;
  flex-direction: column;
  
}

.app_posts{
  padding: 20px;
}

.app_login{
  padding-left: 10%;
}

#btn_logout{
  padding-left: 15%;
}

